.header {
  background: $off-black;
  color: white;
<<<<<<< HEAD
  margin-bottom: $m-size;
=======
  margin-bottom: $xl-size;
>>>>>>> ad7d756867377c69086a5aba3c12866ea90a448b
  padding: $m-size 0;
}

.header__title {
  font-size: $l-size;
  margin: 0;
}

.header__subtitle {
  color: $off-white;
  font-size: $m-size;
  font-weight: 500;
  margin: 0;
}
<<<<<<< HEAD

@media (min-width: $desktop-breakpoint) {
  .header {
    margin-bottom: $xl-size;
  }
}
=======
>>>>>>> ad7d756867377c69086a5aba3c12866ea90a448b
