// Colors
$off-black: #20222b;
$dark-blue: #333745;
<<<<<<< HEAD
$blue: #3c4251;
$light-blue: #464b5e;
$off-white: #a5afd7;
$purple: #8357c5;
// Spacing
$desktop-breakpoint:45rem;
=======
$off-white: #a5afd7;
$purple: #8357c5;
$blue: #3c4251;
$light-blue:#464b5e;
// Spacing
>>>>>>> ad7d756867377c69086a5aba3c12866ea90a448b
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
