// Colors
<<<<<<< HEAD
$off-black: #20222b;
$dark-blue: #333745;
$blue: #3c4251;
$light-blue: #464b5e;
$off-white: #a5afd7;
$purple: #8357c5;
=======
>>>>>>> 46879fb199b897bbd5cf37fddac2222a7b8c3129
// Spacing
$desktop-breakpoint:45rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
